.masthead {
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.zone {
  padding-top: 4em;
}

.bouton {
  background-color: #48065e;
  box-shadow: 0 0 1em white;
}

.footer {
  position: fixed;
}

.text-color-personalized {
  color: #340444;
}
