.masthead {
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 40em) {
  .zone {
    padding-top: 12em;
  }
}

@media (min-width: 62em) {
  .zone {
    padding-top: 8em;
  }
}
